.custome-checkbox {
  .checked {
    display: none;
    color: $green;
    font-weight: 800;
  }
  .unchecked {
    color: $grey;
    font-weight: 800;
  }
  input:checked + label {
    i.checked {
      display: inline;
    }
    i.unchecked {
      display: none;
    }
  }
}
