.p-datatable .p-datatable-thead {
    tr > th {
        text-align: left;
        padding: 1rem 1rem;
        border: 1px solid #ffffff;
        border-width: 0 0 1px 0;
        font-weight: 400 !important;
        color: white !important;
        background: rgba(37, 43, 66, 1) !important;
        transition: none;
        // border-bottom: 8px solid #fff !important;
        font-size: 14px !important;
        .p-sortable-column-icon {
            color: #ffffff !important;
        }
    }

    tr:first-child > th:first-child {
        border-radius: 5px 0 0 5px;
    }

    tr:first-child > th:last-child {
        border-radius: 0 5px 5px 0;
    }
}
.p-datatable-wrapper {
    border-radius: 5px;
}

.p-datatable .p-datatable-tbody {
    tr > td {
        background-color: $lightestblue;
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    tr:first-child > td:first-child {
        border-radius: 5px 0 0 0;
    }

    tr:first-child > td:last-child {
        border-radius: 0px 5px 0 0;
    }
}
.p-tabview-nav {
    min-width: fit-content;
}
.p-datatable .p-sortable-column:focus {
    box-shadow: none !important;
}
