.p-dialog .p-dialog-header {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  padding-bottom: 0px !important;
}
.p-dialog .p-dialog-content:last-of-type {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
