.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    display: flex !important;
    // justify-content: center !important;
    color: black !important;
}
