.info-box {
  box-sizing: border-box;
  width: 100%;
  background: #e8f4fd;
  border: 1px solid #b4dcfb;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 7.74451px;
}
.info-color {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #329bea;
}
