.customOtp {
  input[type="text"]:focus-visible {
    background-color: $darkblue;
    color: rgba(238, 238, 238, 1);
  }
  input[type="text"] {
    border: 1px solid rgba(238, 238, 238, 0.722) !important;
    font-weight: 500;
    font-size: 24px;
    color: "black";
    box-shadow: rgba(0, 0, 0, 0.05);
  }
}
