.customOtp {
  .input {
    text-align: center;
    width: 66px;
    height: 60px;
    border-radius: 12px;
  }
}
.otpstyle {
  .input:focus-visible {
    background-color: aliceblue !important;
  }
}
