.loginCard {
  width: 498px;
  background: #ffffff;
  border-radius: 20px;

  .logo {
    width: 132px;
    height: 91px;
  }

  .loginbutton {
    width: 358.87px;
    height: 51.27px;
    background: #252b42;
    border-radius: 5.12668px;
  }
}

.p-inputtext.p-component.p-password-input {
  width: 100%;
}
