.gjs-one-bg {
    background-color: #f8f9fa !important;
}

.gjs-two-color {
    color: #606972 !important;
}

.gjs-four-color,
.gjs-four-color-h:hover {
    color: #495057 !important;
}

.gjs-block__media {
    /* height: 50px !important; */
}

.gjs-block__media svg {
    width: 50% !important;
}
