.extra-padding {
  margin-left: 140px;
  margin-right: 300px;
}

.input-size {
  width: 180px;
}

@media only screen and (max-width: 1280px) {
  .extra-padding {
    margin-left: 95px;
    margin-right: 95px;
  }
}
