@import "./assets/styles/all.scss";
@import "primereact/resources/themes/lara-light-indigo/theme.css"; //theme
@import "primereact/resources/primereact.min.css"; //core css
@import "primeicons/primeicons.css"; //icons@
@import "primeflex/primeflex.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;

  box-shadow: 0 0 4px $darkblue;
  background: $lightestblue;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $darkblue;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif !important;
}
.primary-font {
  font-family: "Manrope", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: "none";
}
.text-xxl {
  font-size: 30px;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none !important;
}
.hrtagstyle {
  border: 1px solid rgba(236, 236, 236, 1);
}
.text-red-600 {
  color: rgba(255, 0, 0, 0.698) !important;
}
