.bg-primary-dark {
    background: $primaryDark;
}
.bg-light-gray {
    background: $lightGray;
}
.bg-dark-green {
    background: $darkGreen;
}
.bg-yellow {
    background: $yellow !important;
}
.bg-light-green {
    background: $lightgreen;
}
.bg-dark-blue {
    background: $darkblue;
}
.bg-light-blue {
    background: $lightblue;
}
.bg-lightest-blue {
    background: $lightestblue;
}
.bg-grey {
    background: $grey;
}
.bg-green {
    background: $green;
}
.gray95 {
    background-color: rgba(242, 242, 242, 1);
}
.bg-red {
    background: $red;
}
