.text-dark-gray {
    color: $darkGray;
}
.text-blue {
    color: $blue;
}
.text-green {
    color: $green !important;
}
.text-red {
    color: #f1351c !important;
}
.text-dark-blue {
    color: $darkblue;
}
.text-gray-color {
    color: $darkGray;
}
